<html>
<head>
  <!-- // <script src="./static/jquery-3.5.1.min.js" type="text/javascript"></script> -->
  <title>{{title}}</title>
  <script src="./static/fetchapi.js" type="text/javascript"></script>
  <link rel="stylesheet" type="text/css" href="./static/style.css">
  <header><img id = "logo"src="./static/logo.jpeg"></header>

  <div class="navbar">
      <a href="/home">Home</a>
      <div class="dropdown">
        <button class="dropbtn">Customer 
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
        <a href="/create_customer">create customer</a>
        <a href="/customer_status">customer status</a>
        <a href="/update_customer">update customer</a>
        <a href="/delete_customer">delete customer</a>
        </div>
      </div> 
      <div class="dropdown">
        <button class="dropbtn">Account
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
        <a href="/account_details">account details</a>
        <a href="/account_status">account status</a>
        <a href="/create_account">create account</a>
        <a href="/delete_account">delete account</a>
        </div>
      </div> 
      <a href="/Logout">Logout</a>
  </div>
</head>
<body>
  <script>

    function select_account(passed_data="not_given", id="accounts"){

      single_account_details = document.getElementById("single_account_details");
      single_account_details.style.display = "";

      selected_account = document.getElementById(id);

      // console.log(selected_account);

      document.getElementById('account_id').value = selected_account.value;

      if (passed_data == "not_given"){
        
        console.log(selected_account.value);

        data = {ws_acct_id:selected_account.value};
      }
      else{
        data = passed_data;
      }

      console.log(data);
      postData('/get_single_account_detail', data)
        .then(data => {
          console.log(data); // JSON data parsed by `response.json()` call
          // refill data
          if (data["message"] == "error"){
            alert("something went wrong!");
          }
          else{
            document.getElementById("single_account_details").style.display = "";
            document.getElementById("customer_id").value = data["ws_cust_id"];
            document.getElementById("display_account_id").value = data["ws_acct_id"];
            document.getElementById("account_type").value = data["ws_acct_type"];
            document.getElementById("balance").value = data["ws_acct_balance"];
            
          }

        });

    }

    function get_account_details(){

      document.getElementById("deposit_withdraw_transfer").style.display="";

      var customer_ssn_id = document.getElementById('customer_ssn_id');
      var account_id = document.getElementById('account_id');

      if (customer_ssn_id.value == "" && account_id.value == ""){
        alert("enter either ssn or id");
        location.reload();
      }
      else if(customer_ssn_id.value != "" && account_id.value != ""){
        alert("don't enter both ssn and id");
        location.reload();
      }
      else{

        // if ssn is given instead of account id
        if (customer_ssn_id.value != ""){
          document.getElementById("single_account_details").style.display = "none";

          var data = {ws_ssn: customer_ssn_id.value,
          ws_acct_id: account_id.value,
          };

          postData('/get_all_account_ids', data)
            .then(data => {
              console.log(data); // JSON data parsed by `response.json()` call
              // refill data
              if (data["message"] == "error"){
                alert("something went wrong! Maybe this customer doesn't have any accounts");
                location.reload();
              }
              else{
                  // display the accounts or account detail
                  // data = data["account_ids"]
                  var details_div = document.getElementById("details_div");
                  details_div.style.display = "";
                  var x = document.getElementById("accounts");
                  x.remove();
                  var x = document.createElement("SELECT");
                  x.setAttribute("id", "accounts");
                  x.setAttribute("onchange", "select_account()");
                  details_div.appendChild(x);

                  var option = document.createElement("option");
                  option.text = "select_one";
                  x.add(option);
                  
                  for (i = 0; i < data.length; i++) {
                    var option = document.createElement("option");
                    option.text = data[i];
                    x.add(option);
                  }

                  // alert(data["message"]);
              }

            });

        }
        // if account id is given
        else{
          // disable the accounts list dropdown when a specific account id is given
          var acc = document.getElementById("details_div");
          acc.style.display = "none";
          // console.log("asdasd");
          select_account(passed_data = data,id='account_id');
        }

      }

    }

  </script>
  <form method="post">
    <div class="container">
      <label for="customer_ssn_id"><b>Customer SSN ID</b></label>
      <input type="text" id="customer_ssn_id"><br>
      <div>
        <h4>OR</h4>
      </div>
      <label for="account_id"><b>Account ID</b></label>
      <input type="text" name="account_id" id="account_id"><br>
 
      <button type="button" onclick="get_account_details()">Get Detials</button><br><br>
    </div>
<!--   </form>

  <form> -->
    <div style="display:none;" id="details_div">
      <label for="accounts"><b>accounts</b></label>
      <select id="accounts" name="accounts" onchange="select_account()">

      </select><br>
    </div><br>

    <div style="display:none;" id="single_account_details">
      <label for="customer_id"><b>Customer ID</b></label>
      <input type="text" id="customer_id" readonly><br>

      <label for="display_account_id"><b>Account ID</b></label>
      <input type="text" id="display_account_id" readonly><br>

      <label for="account_type"><b>Account type</b></label>
      <input type="text" id="account_type" readonly><br>

      <label for="balance"><b>Balance</b></label>
      <input type="text" id="balance" readonly><br>
    </div><br>

    <div id="deposit_withdraw_transfer" style="display:none;">
      <button type="submit" formaction="/deposit">Deposit</button><br><br>
      <button type="submit" formaction="/withdraw">withdraw</button><br><br>
      <button type="submit" formaction="/transfer">transfer</button><br><br>
    </div>
  </form>

</body>
<footer></footer>
</html>



