<html>
<head>
	<title>CREATE ACCOUNT</title>
  <script src="./static/fetchapi.js" type="text/javascript"></script>
</head>
<body>
  <script>
    if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
    }

    function create_account(){
      customer_id = document.getElementById('customer_id');
      account_type = document.getElementById('account_type');
      deposit_amount = document.getElementById('deposit_amount');

      data = {ws_cust_id:customer_id.value,
        ws_acct_type:account_type.value,
        ws_acct_balance:deposit_amount.value,
      };

      postData('/create_account', data)
        .then(data => {
          // alert("reached here");
          console.log(data); // JSON data parsed by `response.json()` call
          // refill data
          if (data["message"] == "error"){           
            alert("something went wrong!");
          }
          // if everythings working great
          else{
            alert(data["message"]);
          }

        });

    }

  </script>
  <form>
    <div class="container">

      <label for="customer_id"><b>Customer ID</b></label>
      <input type="number" id="customer_id" required><br>

      <label for="account_type"><b>Account type</b></label>
      <select id="account_type" name="account_type">
        <option value="savings">Savings</option>
        <option value="current">current</option>
      </select><br>

      <label for="deposit_amount"><b>Amount</b></label>
      <input type="number" id="deposit_amount" required><br>

      <button type="button" onclick="create_account()">Create</button>

    </div>
  </form>
  {% if message %}
    <p><strong>{{ message }}</strong>
  {% endif %}
</body>
</html>