<html>
<head>
	<title>CUSTOMER STATUS</title>
  <script src="./static/fetchapi.js" type="text/javascript"></script>
  <style>
    table, td, th {
      border: 1px solid black;
    }
</style>
</head>
<body>
  <script>

    get_all_customer_status();

    function refresh(ws_cust_id){
      console.log(ws_cust_id);
      
    }

    function update_tables(data) {
      var table = document.getElementById("customer_status_table");
      
      for (var i = 0; i < data.length; i++) {
        var row = table.insertRow(1);
        row.insertCell(0).innerHTML = data[i]["ws_cust_id"];
        row.insertCell(1).innerHTML = data[i]["ws_ssn"];
        row.insertCell(2).innerHTML = data[i]["status"];
        row.insertCell(3).innerHTML = data[i]["message"];
        row.insertCell(4).innerHTML = data[i]["last_updated"];
        row.insertCell(5).innerHTML = "<button type='button' id="+data[i]['ws_cust_id']+" onclick='refresh("+data[i]['ws_cust_id']+")'>Refresh</button>";
      }

    }

    function get_all_customer_status(){
      data={"message":"gimme_all"};
      postData('/customer_status', data)
        .then(data => {
          console.log(data); // JSON data parsed by `response.json()` call
          // refill data
          if (data["message"] == "error"){
            alert("something went wrong!");
          }
          else{
            update_tables(data);
          }

        });
    }

    if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
    }

  </script>
  
  <table id="customer_status_table">
  <tr>
    <th>Customer ID</th>
    <th>Customer SSN ID</th> 
    <th>Status</th>
    <th>Message</th>
    <th>Last Updated</th>
    <th>Operations</th>
  </tr>
<!--   <tr>
    <td>Jill</td>
    <td>Smith</td>
    <td>50</td>
    <td>50</td>
    <td>50</td>
    <td>50</td>
  </tr>
  <tr>
    <td>Eve</td>
    <td>Jackson</td>
    <td>94</td>
    <td>50</td>
    <td>50</td>
    <td>50</td>
  </tr>
  <tr>
    <td>John</td>
    <td>Doe</td>
    <td>80</td>
    <td>50</td>
    <td>50</td>
    <td>50</td>
  </tr> -->
</table>

</body>
</html>






