<html>
<head>
	<title>DELETE ACCOUNT</title>
  <script src="./static/fetchapi.js" type="text/javascript"></script>
</head>
<body>
  <script>

    account_details = "none";

    function delete_account(){
      accounts = document.getElementById("accounts");

      selected_account_id = accounts.value;

      data = {ws_acct_id:selected_account_id};

      postData('/delete_account', data)
        .then(data => {
          console.log(data); // JSON data parsed by `response.json()` call
          // refill data
          if (data["message"] == "error"){
            alert("something went wrong!");
          }
          else{
            alert(data["message"]);
          }

        });

    }

    function get_acc_type_and_bal(selected_account_id,type=0){
      if (type == 0){
        // var acc_type = "null";
        for (i = 0; i < account_details.length; i++){
          if (account_details[i]["ws_acct_id"] == selected_account_id){
            return account_details[i]["ws_acct_balance"];
          }
        }
      }
      else{
        for (i = 0; i < account_details.length; i++){
          if (account_details[i]["ws_acct_id"] == selected_account_id){
            if (account_details[i]["ws_acct_type"] == 'c'){
              return "current";
            }
            else{
              return "savings";
            }
          }
        }
      }
    }

    function select_account(){

      accounts = document.getElementById("accounts");

      selected_account_id = accounts.value;

      // alert(selected_account_id);

      document.getElementById("account_type").value = get_acc_type_and_bal(selected_account_id,type=1);
      document.getElementById("account_balance").value = get_acc_type_and_bal(selected_account_id);
    }

    function get_account_details(){

      document.getElementById("accounts_details").style.display="";

      document.getElementById("account_type").value="";
      document.getElementById("account_balance").value="";
      account_balance

      var customer_ssn_id = document.getElementById('customer_ssn_id');
      var customer_id = document.getElementById('customer_id');

      if (customer_ssn_id.value == "" && customer_id.value == ""){
        alert("enter either ssn or id");
        location.reload();
      }
      else if(customer_ssn_id.value != "" && customer_id.value != ""){
        alert("don't enter both ssn and id");
        location.reload();
      }
      else{

        // document.getElementById("account_drop_down").style.display = "none";
        var data = {ws_ssn: customer_ssn_id.value,
        ws_cust_id: customer_id.value,
        };

        postData('/account_details', data)
          .then(data => {
            console.log(data); // JSON data parsed by `response.json()` call
            // refill data
            if (data["message"] == "error"){
              alert("something went wrong!");
              location.reload();
            }
            else{
                // storing fetched data to global dictionary
                account_details = data;

                var details_div = document.getElementById("details_div");
                details_div.style.display = "";
                var x = document.getElementById("accounts");
                x.remove();
                var x = document.createElement("SELECT");
                x.setAttribute("id", "accounts");
                x.setAttribute("onchange", "select_account()");
                details_div.appendChild(x);

                var option = document.createElement("option");
                option.text = "select_one";
                x.add(option);
                
                for (i = 0; i < data.length; i++) {
                  var option = document.createElement("option");
                  option.text = data[i]['ws_acct_id'];
                  x.add(option);
                }

                // alert(data["message"]);
            }

          });

      }

    }

    if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
    }

  </script>
  <form>
    <div class="container">
      <label for="customer_ssn_id"><b>Customer SSN ID</b></label>
      <input type="text" id="customer_ssn_id"><br>
      <div>
        <h4>OR</h4>
      </div>
      <label for="customer_id"><b>Customer ID</b></label>
      <input type="text" name="customer_id" id="customer_id"><br>
 
      <button type="button" onclick="get_account_details()">Get Detials</button><br><br>
    </div>
<!--   </form>

  <form> -->
    <div style="display:none;" id="details_div">
      <label for="accounts"><b>accounts</b></label>
      <select id="accounts" name="accounts" onchange="select_account()">

      </select><br>
    </div><br>

    <div style="display:none;" id="accounts_details">

      <label for="account_type"><b>Account type</b></label>
      <input type="text" id="account_type" readonly><br>

      <label for="account_balance"><b>Account Balance</b></label>
      <input type="text" id="account_balance" readonly><br>

      <button type="button" onclick="delete_account()">Delete Account</button>

    </div><br>

  </form>

</body>
</html>






