<html>
<head>
	<title>DELETE ACCOUNT</title>
  <script src="./static/fetchapi.js" type="text/javascript"></script>
</head>
<body>
  <script>

    function select_account(passed_data = "not_given",id="accounts"){

      account_drop_down = document.getElementById("account_drop_down");
      account_drop_down.style.display = "";

      selected_account = document.getElementById(id);

      // document.getElementById('account_id').value = selected_account.value;

      if (passed_data == "not_given"){
        
        console.log(selected_account.value);

        data = {account_id:selected_account.value};
      }
      else{
        data = passed_data;
      }


      postData('/get_single_account_detail', data)
        .then(data => {
          console.log(data); // JSON data parsed by `response.json()` call
          // refill data
          if (data["message"] == "error"){
            alert("something went wrong!");
          }
          else{
            document.getElementById("account_drop_down").style.display = "";
            document.getElementById("customer_id").value = data["customer_id"];
            document.getElementById("display_account_id").value = data["account_id"];
            document.getElementById("account_type").value = data["account_type"];
            document.getElementById("balance").value = data["balance"];
            
          }

        });

    }

    function get_acount_details(){

      // document.getElementById("deposit_withdraw_transfer").style.display="";

      var customer_ssn_id = document.getElementById('customer_ssn_id');
      var customer_id = document.getElementById('customer_id');

      if (customer_ssn_id.value == "" && customer_id.value == ""){
        alert("enter either ssn or id");
        location.reload();
      }
      else if(customer_ssn_id.value != "" && customer_id.value != ""){
        alert("don't enter both ssn and id");
        location.reload();
      }
      else{

        // document.getElementById("account_drop_down").style.display = "none";
        var data = {customer_ssn_id: customer_ssn_id.value,
        customer_id: customer_id.value,
        };

        postData('/account_details', data)
          .then(data => {
            console.log(data); // JSON data parsed by `response.json()` call
            // refill data
            if (data["message"] == "error"){
              alert("something went wrong!");
            }
            else{
                // display the accounts or account detail
                
                var details_div = document.getElementById("details_div");
                details_div.style.display = "inline";
                var x = document.getElementById("accounts");
                x.remove();
                var x = document.createElement("SELECT");
                x.setAttribute("id", "accounts");
                x.setAttribute("onchange", "select_account()");
                details_div.appendChild(x);

                var option = document.createElement("option");
                option.text = "select_one";
                x.add(option);
                
                for (i = 0; i < data.length; i++) {
                  var option = document.createElement("option");
                  option.text = data[i];
                  x.add(option);
                }

                // alert(data["message"]);
            }

          });

      }

    }

    if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
    }

  </script>
  <form>
    <div class="container">
      <label for="customer_ssn_id"><b>Customer SSN ID</b></label>
      <input type="text" id="customer_ssn_id"><br>
      <div>
        <h4>OR</h4>
      </div>
      <label for="customer_id"><b>Customer ID</b></label>
      <input type="text" name="customer_id" id="customer_id"><br>
 
      <button type="button" onclick="get_acount_details()">Get Detials</button><br><br>
    </div>
<!--   </form>

  <form> -->
    <label for="accounts"><b>accounts</b></label>
    <div style="display:inline;" id="details_div">
      <select id="accounts" name="accounts" onchange="select_account()">

      </select><br>

    <div>
      <label for="account_type"><b>Account type</b></label>
      <input type="text" id="account_type" readonly><br>
    </div><br>

    </div><br>


  </form>

</body>
</html>






