<html>
<head>
	<title>{{ title }}</title>
  <script src="./static/fetchapi.js" type="text/javascript"></script>
  <link rel="stylesheet" type="text/css" href="./static/style.css">
  <header><img id = "logo"src="./static/logo.jpeg"></header>
</head>
<body>
  <script>
    if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
    }
</script>
  <form action="/login" method="post">
    <div class="container">

      <label for="username"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="username" value="{{
          request.form.username }}" required>

      <label for="password"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password" required>
          
      <button type="submit">Login</button>

      {% if error %}
        <p><strong>Error:</strong> {{ error }}
      {% endif %}

    </div>
  </form>
</body>
<footer></footer>
</html>